body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.container-1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
    opacity: 0.6;
    z-index: -1;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVN8lDcK8ZRxy3v3CAtvfQ6T85mi0y-HfLFQubGXl9zzAGVitF6ZNn51btdtIq-UO_KkI&usqp=CAU") no-repeat center center/cover;
    filter: blur(6px);
}

.navbar ul{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    background-color: black;
    margin: 0px;
    padding: 20px 0px;
}

.navbar ul li a{
    position: relative;
    left: 20px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: aqua;
}

.title {
    position: relative;
    top: 80px;
    text-align: center;
}

.title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.4em;
    position: relative;
    top: 10px;
    text-shadow: 2px 2px 2px rgb(222, 63, 0);
    font-weight: bold;
    color: rgb(1, 1, 61)
}

.banner {
    text-align: center;
    opacity: 200;
    width: 100px;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgb(43, 45, 1);
    color: rgb(26, 0, 15);
}

.title p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    position: relative;
    top: 5px;
    left: 40px;
    width: 80%;
    font-weight: bold;
    color: rgb(0, 26, 36);
    text-shadow: 1px 1px 1px rgb(8, 38, 39);
    margin: 10px 60px;
    padding: 10px 40px;
}

.btn {
    position: absolute;
    left: 665px;
    top: 510px;
    text-align: center;
    border: 2px solid red;
    border-radius: 30px;
    background-color: lightcyan;
}
.btn a {
    text-decoration: none;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    margin: 10px 10px;
}

.btn a:hover {
    color: rgb(8, 48, 2);
}

.hr1 {
    color: black;
}

.hr2 {
    position: relative;
    top: 210px;
    color: black;
}

.container-2 {
    position: relative;
    top: 270px;    
    left: 20px;
    height: 100px;
    width: 97%;
    display: flex;
}

.boxes1 {
    padding: 10px 20px;
    margin: 10px 30px;
    height: 350%;
    background-color: lightcyan;
    border: 2px solid darkred;
    border-radius: 20px;
    box-shadow: 6px 6px 16px darkgreen;
}

.boxes1:nth-child(1) {
    color: rgb(13, 1, 58);
}

.boxes1:nth-child(2) {
    color: rgb(40, 1, 38);
}

.boxes1:nth-child(3) {
    color: rgb(1, 51, 1);
}

.boxes1 h3 {
    padding: 10px;
    margin: 10px;
    position: relative;
    text-align: center;
    top: 30px;
}

#box1 h3{
    position: relative;
    top:22px;
}

#box2 h3{
    position: relative;
    top:22px;
}

#box3 h3{
    position: relative;
    top:22px;
}

#box1 img {
    height: 50%;
    position: relative;
    left: 100px;
    top: 10px;
    background-color: lightcyan;
}

#box2 img {
    height: 50%;
    position: relative;
    left: 110px;
    top: 15px;
    background-color: lightcyan;
}

#box3 img {
    height: 50%;
    position: relative;
    left: 120px;
    top: 15px;
    background-color: lightcyan;
}

.container-3 {
    position: relative;
    top: 620px;    
    left: 20px;
    height: 100px;
    width: 97%;
    display: flex;
}

.boxes2 {
    padding: 10px 20px;
    margin: 10px 30px;
    height: 350%;
    background-color: lightcyan;
    border: 2px solid darkred;
    border-radius: 20px;
    box-shadow: 6px 6px 16px darkgreen;
}

.boxes2:nth-child(1) {
    color: rgb(0, 43, 42);
}

.boxes2:nth-child(2) {
    color: rgb(38, 47, 0);
}

.boxes2:nth-child(3) {
    color: rgb(79, 17, 67);
}

.boxes2 h3 {
    padding: 10px;
    margin: 10px;
    position: relative;
    text-align: center;
    top: 30px;
}

#box4 h3{
    position: relative;
    top:-20px;
}

#box5 h3{
    position: relative;
    top:22px;
}

#box6 h3{
    position: relative;
    top:22px;
}

#box4 img {
    height: 60%;
    position: relative;
    left: 70px;
    top: 10px;
    background-color: lightcyan;
}

#box5 img {
    height: 50%;
    position: relative;
    left: 110px;
    top: 15px;
    background-color: lightcyan;
}

#box6 img {
    height: 50%;
    position: relative;
    left: 42px;
    top: 15px;
    background-color: lightcyan;
}


.move {
    position: relative;
    top: 980px;
    font-size: 1.2em;
    height: 100px;
    color: white;
    text-shadow: 1.5px 1.5px 2px yellow;
    background-color: rgb(1, 1, 47);
}

.move h1 {
    position: relative;
    top: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container-5 {
    position: relative;
    top: 914px;
    height: 300px;
}

.container-5::before {
    content: "";
    background: url("food company banner.png") no-repeat center center/cover;
    filter: blur(4px);
    width: 100%;
    height: 200%;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
}

.container-5 h3 {
    font-size: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px darkgreen;
    color: rgb(0, 33, 41);
    font-weight: bold;
}

.para {
    position: relative;
    left: 160px;
    bottom: 50px;
    width: 80%;
}

.container-5 p {
    position: relative;
    width: 80%;
    font-size: 2em;
    top: 110px;
    left: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(39, 8, 11);
}

.container-6 {
    position: relative;
    top: 1230px;
    background-color: rgb(1, 1, 47);
}

.container-6 h1 {
    color: white;
    display: flex;
    font-size: 1.8em;
    font-weight: bold;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1.5px 1.5px 2px yellow;
    
}

.container-7 {
    position: relative;
    top: 1220px;
    height: 50vh;
    width: 1200px;
    left: 0px;
} 

.container-7::before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    filter: blur(6px);
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUcRMhbLH5bO9a95_gN6uGj3ZtphKTMYSIBg&usqp=CAU") 
    no-repeat center center/cover;
    width: 126.5%;
    left: 0px;
    height: 120%;
}

.form {
    display: flex;
    position: relative;
    left: 330px;
    right: 0px;
    top: 20px;
    padding: 10px 10px;
    margin: 10px 10px;
}

.form h3 {
    font-size: 1.4em;
    position: relative;
    top: 20px;
    color: rgb(0, 33, 11);
    font-family: 'Courier New', Courier, monospace;
}

.form input[type="text"] {
    position: relative;
    left: 102px;
}

.form input {
    position: relative;
    left: 90px;
    top: 20px;
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px 10px;
    margin: 0px 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
}

.submit {
    position: relative;
    left: 650px;
    top: 70px;
    border-radius: 20px;
    border: 2px solid darkmagenta;
    box-shadow: 2px 2px 6px darkblue;
    width: 20%;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px darkturquoise;
    background-color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-8 {
    position: relative;
    left: 0px;
    top: 1290px;
    height: 70px;
    background-color: rgb(1,1,47);
}

.container-8 h3 {
    position: relative;
    bottom: 15px;
    color: white;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 6px darkgoldenrod;
}

.footer-set {
    position: relative;
    top: 1290px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1px;
    height: 40px;
}

.footer-set h3 {
    position: relative;
    top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}

